form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
}

form .card {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
}

form .card .label {
    font-size: 18px;
}

form .card .error {
    font-size: 18px;
}

form .card input {
    font-size: 22px;
}

@media (max-width: 500px){
    form .card {
        width: 95%;
    }
}